extends ../layouts/base
block content

  aside.sidebar-container
    .logo.mb-3
      +image('logo-mcfr.png')
    form(action='/home.html').form-signin
      .form-label-group#searchWrapper
        input#inputSearch.form-control(type='text' placeholder='Пошук' )
        label(for='inputSearch') Пошук
        button.btn.btn-search 
          svg.bi.bi-search(width='1em' height='1em' viewBox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg')
            path(fill-rule='evenodd' d='M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z')
            path(fill-rule='evenodd' d='M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z')
    hr.mt-5
    small.mb-4.nav-subtitle(title='Фільтри') Фільтри
    form(action='')
      .form-label-group
        input#inputDate.form-control(type='date' placeholder='дата' )
        label(for='inputDate') Дата

      .form-label-group
        input#inputIst.form-control(type='text' placeholder='Джерело' )
        label(for='inputIst') Джерело


    hr.mt-5
    small.nav-subtitle(title='Рубрики') Рубрики
    .mt-4.rubric
      a(href="/").mt-0
        span !{iconText}
        | Рубрика 1
      a(href="/")
        span !{iconText}
        | Рубрика 2
      a(href="/")
        span !{iconText}
        | Рубрика 3
      a(href="/")
        span !{iconText}
        | Рубрика 4
   
  main.home-main
    .container-fluid
      header.header 
        .d-flex.align-items-center.justify-content-between
          h1.page-header-title Раздел
          a.btn.btn-primary.btn-exit
            svg.mr-2.bi.bi-box-arrow-in-left(width='1em' height='1em' viewBox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg')
              path(fill-rule='evenodd' d='M10 3.5a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 1 1 0v2A1.5 1.5 0 0 1 9.5 14h-8A1.5 1.5 0 0 1 0 12.5v-9A1.5 1.5 0 0 1 1.5 2h8A1.5 1.5 0 0 1 11 3.5v2a.5.5 0 0 1-1 0v-2z')
              path(fill-rule='evenodd' d='M4.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H14.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z')
            | Вийти


      div.list-group.news-wrapperl-list.mt-3
        a(href="/" target="_blank").list-group-item
          span.h5 Заголовок 
          span.d-block Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. 
        a(href="/" target="_blank").list-group-item
          span.h5 Заголовок 
          span.d-block Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. 
        a(href="/" target="_blank").list-group-item
          span.h5 Заголовок 
          span.d-block Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. 
        a(href="/" target="_blank").list-group-item
          span.h5 Заголовок 
          span.d-block Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. 
        a(href="/" target="_blank").list-group-item
          span.h5 Заголовок 
          span.d-block Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. 
        a(href="/" target="_blank").list-group-item
          span.h5 Заголовок 
          span.d-block Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. 
        a(href="/" target="_blank").list-group-item
          span.h5 Заголовок 
          span.d-block Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. 
        a(href="/" target="_blank").list-group-item
          span.h5 Заголовок 
          span.d-block Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. 
        a(href="/" target="_blank").list-group-item
          span.h5 Заголовок 
          span.d-block Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. 
        a(href="/" target="_blank").list-group-item
          span.h5 Заголовок 
          span.d-block Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. 

      nav.mt-5.mb-5
        ul.pagination
          li.page-item
            a.page-link(href='#') Попередня
          li.page-item
            a.page-link(href='#') 1
          li.page-item
            a.page-link(href='#') 2
          li.page-item
            a.page-link(href='#') 3
          li.page-item
            a.page-link(href='#') Наступна
