extends ../layouts/base
block content
  main
    section
      .container
        .row
          .col-sm-9.col-md-7.col-lg-5.mx-auto
            .card.card-signin.my-5
              .card-body
                h5.card-title.text-center Увійти
                form(action='./home.html').form-signin
                  .form-label-group
                    button.btn
                      svg.bi.bi-person(width='1em' height='1em' viewBox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg')
                        path(fill-rule='evenodd' d='M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z')
                      
                    input#inputEmail.form-control(type='email' placeholder='Логін' required autofocus)
                    //- label(for='inputEmail') Логін
                  .form-label-group
                    button.btn
                      svg.bi.bi-key(width='1em' height='1em' viewBox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg')
                        path(fill-rule='evenodd' d='M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z')
                        path(d='M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z')

                    input#inputPassword.form-control(type='password' placeholder='Пароль' required)
                    //- label(for='inputPassword') Пароль
                  .custom-control.custom-checkbox.mb-3
                    input#customCheck1.custom-control-input(type='checkbox')
                    label.custom-control-label(for='customCheck1') Запам'ятати
                  button.btn.btn-lg.btn-primary.btn-block.text-uppercase(type='submit') Увійти
                  //- hr.my-4
                  //- button.btn.btn-lg.btn-google.btn-block.text-uppercase(type='submit')
                  //-   i.fab.fa-google.mr-2
                  //-   |  Sign in with Google
                  //- button.btn.btn-lg.btn-facebook.btn-block.text-uppercase(type='submit')
                  //-   i.fab.fa-facebook-f.mr-2
                  //-   |  Sign in with Facebook
