:root {
  --input-padding-x: 0.4rem;
  --input-padding-y: 0.45rem;
}

$red: #c53939;
$hoverBg: rgba(185, 185, 185, 0.1);
html {
  //   font-size: $startSize;
}

body {
  background: #f9f9f9;
  //   font: $font;
  @include maxLg() {
    padding-top: 80px;
  }
}

img {
  max-width: 100%;
}

.home-main {
  padding: 20px 0 0 350px;

  @include maxLg() {
    padding: 0;
  }
}

.news-wrapperl-list {
  display: block;
  font-weight: 300;
  font-size: 15px;
  text-decoration: none;

  .h1,
  .h2,
  .h3,
  .h6,
  .h5,
  .h4 {
    color: black;
    text-decoration: none;
  }
  a {
    color: black;
    text-decoration: none;
    &:hover {
      background: $hoverBg;

      span {
        // text-decoration: underline;
        color: $red;
        text-decoration: underline;
      }
      .h1,
      .h2,
      .h3,
      .h6,
      .h5,
      .h4 {
        text-decoration: none;
      }
    }
  }
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: 0;
  line-height: 1.25;
  color: #677788;
  background-color: #fff;
  border: 0 solid #e7eaf3;
}

.pagination {
  flex-wrap: wrap;

  a {
    &:hover {
      color: $red;
      background: none;
    }
  }
  @include maxLg() {
    justify-content: center;

    & > li {
      margin: 5px 0;
    }
  }
}

.page-header-title {
  font-size: 25px;
  padding-right: 10px;
  margin: 0;
  @include maxLg() {
    font-size: 18px;
  }
}

.btn-exit {
  // min-width: 97px;
  height: auto;
  padding: 0;
  align-items: center;
  display: flex;
}
.newsWrapper {
  font-size: 13px;
  &-date {
    min-width: 120px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    margin-right: 20px;
    svg {
      margin-right: 5px;
    }
  }
  .list-group-item {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    padding: 0.35rem 1.25rem;

    & > span {
      &:first-child {
        color: black;
      }
      &:nth-child(2) {
        font-size: 16px;
      }
      &:nth-child(3) {
        color: #494949;
      }
    }

    &:hover {
      & > span {
        color: $red;
      }
    }
  }

  &-title {
    margin-right: 20px;
    color: black;
  }
  &-src {
    margin: 0;
  }
}

.form-label-group {
  display: flex;
  height: 40px;
  .btn {
    background: rgb(231, 231, 231);
    padding: 0 10px !important;
    border-radius: 0 !important;
    color: black;
    display: flex;
    align-items: center;
    svg {
      width: 15px;
      height: 15px;
    }
  }
}
.form-label-group input {
  height: auto;
  border-radius: 0;
  font-size: 14px;
}
.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.datepicker {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  background: white;
  padding: 10px 10px !important;
  box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.1);
}
.table-condensed {
  margin: auto;
}

select {
  height: 40px !important;
}

.form-control:focus {
  box-shadow: none;
}

.form-label-group {
  .btn {
    cursor: default !important;
  }
}

.custom-control-label::before {
  border-radius: 0 !important;
}

button.btn {
  border-radius: 0 !important;
}
