.sidebar-container {
  position: fixed;
  width: 320px;
  padding: 40px 20px;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background: #ffffff;
  box-shadow: 0 0 12px 5px rgba($color: #000000, $alpha: 0.1);
  @include maxLg() {
    position: relative;
    width: 100%;
    height: auto;
    overflow: auto;
    box-shadow: none;
  }

  .nav-subtitle {
    display: block;
    color: #8c98a4;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.03125rem;
  }
  .logo {
    img {
      max-width: 150px;
    }
    @include maxLg() {
      text-align: center;
      margin: 10px auto;
      display: none;
    }
  }
  .form-label-group {
    position: relative;
    label,
    input {
      // border-radius: 10px;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 14px;
    }
    &#searchWrapper {
      input {
        // padding-left: 30px;
      }
    }
  }
  select {
    font-size: 14px;
    border-radius: 0;
  }
  .btn-search {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    background: none;
    svg {
      height: 15px;
      width: 15px;
      path {
        fill: #9c9c9c;
      }
    }

    &:hover {
      svg {
        path {
          fill: #5f5f5f;
        }
      }
    }
  }

  .rubric {
    margin-left: -20px;
    margin-right: -20px;
    a {
      display: flex;
      color: rgb(73, 73, 73);
      text-decoration: none;
      padding: 10px 20px;
      font-size: 14px;
      border-bottom: 1px solid rgba(185, 185, 185, 0.2);
      span {
        display: block;
        margin-top: 3px;
        line-height: 1;
        margin-right: 10px;
      }

      &:hover {
        color: #c53939;
        background: rgba(185, 185, 185, 0.1);
      }
    }
  }
}
